<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.spiritlink.jobs.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="de.spiritlink.jobs.Perspective"
            id="de.spiritlink.jobs.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="de.spiritlink.jobs.example.View"
            id="de.spiritlink.jobs.example">
      </view>
      <view
            name="Running Progresses"
            icon="icons/pview.gif"
            category="org.eclipse.ui"
            class="org.eclipse.ui.internal.progress.ProgressView"
            id="org.eclipse.ui.views.ProgressView">
      </view>
   </extension>
   <extension
         id="sl_jobs_product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.spiritlink.jobs.application"
            name="Jobs Demo"/>
   </extension>

</plugin>
