<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="common.mail.messagedetails.MessageView"
            id="common.mail.messagedetails.MessageView"
            name="MailView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="main.perspective">
         <view
               id="common.mail.messagedetails.MessageView"
               minimized="false"
               relationship="stack"
               relative="main.perspective.bottom">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
