<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="maillist.TabelleView"
            id="maillist.TabelleView"
            name="Mail List"
            restorable="true">
      </view>
   </extension>
   <extension
         id="main.perspective"
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="main.perspective">
         <view
               id="maillist.TabelleView"
               minimized="false"
               relationship="stack"
               relative="main.perspective.top">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
